:host {
    display: block;
    width: 100%;
}


.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: solid 1px #DEE2E6;  
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;

    
    .container {
        width: 1270px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

    }

    #logo {
        width: 168px;
    }

    .rightInfo{
        gap: 10px;
    }

    .leftInfo{
        gap: 58px;
    }

    .group {

        align-items: center;
        display: flex;


        img{
            width: 30px;
            height: 30px;
            }

        .order {
            position: relative;
                
            .circle {
                background-color: #E33123;
                border-radius: 50px;
                position: absolute;
                left: -5px;
                top: -2px;
                width: 14px;
                height: 14px;
                color: white;
                font-size: 12px;
                font-weight: 400;
                text-align: center;
                line-height: 14px;  
                display: flex;
                justify-content: center;
            }
        }
            
    }
}












