<div class="main">
    <div class="container">
        <div class="leftInfo group">
            <img id="logo" src="/assets/icons/logo.svg">
            <app-menu></app-menu>
        </div>
        
        <div class="rightInfo group">
            <app-search></app-search>
            <img src="/assets/icons/tabler-icon-user.svg">
            <img src="/assets/icons/mdi_heart-outline.svg">
            <div class="order" [routerLink]="['/basket']" >
                <div class="circle" *ngIf="orderSize">
                    <div class="size">
                        {{orderSize}}
                    </div>
                </div>
                <img src="/assets/icons/tabler-icon-shopping-cart.svg">
            </div>
        </div>
    </div>
</div>
