:host {
    display: flex;
    width: 100%;
    justify-content: center;

}

.section{
    width: 100%;
    display: flex;
    justify-content: center;
    

}

.container{
    width: 1270px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

ul.breadcrumb {

    padding-inline-start: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    justify-content: center;


    li{
        display: inline;
        color: #999;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        a {
            color: #000;
            text-decoration: none;
          }

        a:hover {
            color: #000;
            text-decoration: underline;
          }
    }

    li+li:before {
        padding: 8px;
        color: #000;
        content: "/\00a0";
    }

  }

.wish{
    display: flex;
    gap: 13px;

    p{
        margin: 0px;
        font-size: 12px;
        margin-block: 0px;
    }

    img{
        width: 16px;
    }
}